body {
  padding: 0px;
  margin: 0px;
  background-image: url("../image/back-owner.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  transition: 0.5s;
  color: yellow;
  text-decoration: none;
  font-size: 20px;
}

.player-card {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  width: 60%;
  justify-self: center;
}

.player-card:hover {
  transition: 0.5s;
  background-color: white;
}

.player-card:hover .player-details {
  max-height: 200px;
  padding: 15px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 8px;
}

.player-card:hover .details-text {
  opacity: 1;
  transition: 0.5s;
}
.stadium-image {
  width: 100px;
  height: 100px;
  transition: 0.5s;
  border-radius: 8px;
}
.stadium-image:hover {
  width: 150px;
  height: 150px;
  transition: 0.5s;
}
.player-toggle {
  display: none;
}

.player-label {
  display: block;
  cursor: pointer;
}
.player-basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 95%;
}

.player-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
}

.player-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.details-text h3 {
  margin: 0;
  color: #333;
}

.details-text p {
  margin: 5px 0;
  color: #666;
}

.connect-btn {
  padding: 10px 20px;
  margin-top: 100px;
  margin-right: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  font-family: sans-serif;
  font-weight: bold;
}

.connect-btn:hover {
  background-color: #0056b3;
}
